<h1>hello world</h1>
<div class="row">
    <div class="col-4">
        <%= form_with url: root_path do |form| %>
            <%= form.text_field :title, class: 'form-control' %>
            <%= form.submit "Search" %>
        <% end %>
    </div>
</div>